<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body bgcolor = "#F2F0EC">

<h1 color = "black">
Error: input not allowed!
</h1>

<a href = "/fav_things/index">Click here to view, edit and add to your favorite authors' names!</a>

</body>
</html>

