<html>
<head>
	<title>Favorite Authors</title>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>


<div class = "top-bar"></div>
<a href="new" class="index-button">Click here!</a>

</body>
</html>