<html>
<head>
	<title>Favorite Authors</title>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>

<div class = "top-bar"></div>

<div class = "black-bar"><font class = "new-h1">
Who are your favorite authors?
</font></div>

<div id="blue_box">

<div id="left">

<ul>
	<% @fav_things.each do |fav_thing| %>
	<li><%= fav_thing.author_name %>
	<a href = "/fav_things/<%= fav_thing.id %>">DELETE?</a>
	<a href = "/fav_things/<%= fav_thing.id %>/edit">EDIT?</a></li>
	<% end %>
</ul>

</div>


<div class="divider"></div>


<div id="right">
<form action = "/new" method="post">
	<input type = "text" id="description" name="description" class = "input-text"><p></p>
	<input type = "submit" class = "second-button margins">
</form>
</div>
</div>



</body>
</html>