<html>
<head>
	<title>Favorite Authors</title>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>

<div class = "top-bar"></div>

<div class = "black-bar"><font class = "new-h1">
Who are your favorite authors?
</font></div>

<!-- <div id="left"></div>
<div class="divider"></div>
<div id="right"></div> -->

<ul>
	<% @fav_things.each do |fav_thing| %>
	<li><%= fav_thing %></li>
	<% end %>
</ul>
<form action = "/new" method="post">
	<input type = "text" id="description" name="description">
	<input type = "submit">
</form>

</body>
</html>