<form action="/fav_things" method="post">
<!-- 		<input type="hidden" name="_method" value="post" /> THIS IS IMPLIED BECAUSE THE METHOD IS ALSO CALLED POST IN SINATRA -->
		<input type="text" id="fav_thing_author_name" name="fav_thing[author_name]" placeholder="Favorite Author Name" value="<%= @new_f.author_name %>">
		<input type="submit">
	</form>